::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #272727;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background: url("../images/blog1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

article {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

p {
  color: #666;
  line-height: 1.6;
  margin-top: 10px;
}

ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

ol li {
  margin-bottom: 10px;
}
/* Responsive Design */
@media only screen and (max-width: 768px) {
  article {
    padding: 15px;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
  article {
    max-width: 90%; /* Adjust maximum width for smaller screens */
  }
}
